html {
 font-size: 18px;
 font-family: "Helvetica" sans-serif;
}

body {

}

h1,
h4 {
  font-weight: bold;
}


/* Header */

.company {
  background-color: black;
  color: white;
}

/* Hero */


/* Navigation */


/* Products */


/* Business Info */


/* Footer */
